
/* Header */

.header {
    background-color: lightblue;
    overflow: hidden;
   
    
}

.logo img {
    float: left;
    padding: 10px;
    height: 45px;
    width: 45px;
}


body {
    margin: 0;
    padding: 0;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family:'Times New Roman', Times, serif
}

*{
    padding: 0;
    margin: 0;
    
}
.burger{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: fixed;
  }

.burger a{
    display: block;
    position: relative;
    padding: 20px 25px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.navbar{
    display: inline-block;
    width: 100vw;
    position: fixed;

}

.burger:hover .dropbtn
{background-color: skyblue;}

.btn{
    position: relative;
    display: inline-block;
}
.dropbtn{
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;


}


.btn:hover
    {display: block;}

    .dropbtn {
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {background-color: skyblue;}

/* Home */ 
.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

h1 {
        font-size: 55px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }

.description {
        text-align: center;
        margin-top: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
.button {
        margin-top: 20px;
        background-color: white;
        padding: 5px;
        text-decoration: none;
        color: black;
    }

/* DATA AND CONCLUSION*/
body, h2, p {
        margin: 0;
        padding: 0;
    }

 
    .container2 {
        text-align: center;
    }

    h2 {
        font-size: 30px;
        margin-top: 20px;
    }

    .box-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }

    .box {
        width: 400px;
        height: 400px;
        text-align: center;
    }

    .box img {
        max-width: 100%;
        max-height: 100%;
    }

    .box p {
        font-size: 16px;
    }

    .conclu{
        padding: 10px;
        margin: 10px;
        
    }

/* Introduction */

.introbox {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.title{
    font-size: 40px;
    margin-right: 20px;
    float: left;

}

.title img {
    width: 300px;
    height: 300px; 
    float: left; 
    margin-right: 20px;
    margin-left: 5%;
}

.introbox p {
    font-size: 28px;
    float: right; 
    margin-top: 10%;
}
.objec{
    padding: 10px;
    margin: 5px;
}
 
.buttonss{
    margin-left: 90%;
    
}

/*REFERNCES*/
.containerr {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
    padding: 20px;
    margin: 10px;
}

.column h1 {
    font-size: 50px;
    margin-bottom: 10px;
    float: left;
}

.column h5 {
    font-size: 18px;

}

.column img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.column p {
    font-size: 16px;
}

/* ABOUT US*/
.container3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box1 {
    width: 30%; 
    padding: 20px;
    text-align: center;
}

.box1 h1 {
    font-size: 24px;
}

.box1 img {
    max-width: 100%;
    height: auto;
    width: 350px;
    height: 350px;
}

.box1 p {
    font-size: 16px;
}

.buttonss1{
    margin-left: 50%;
    
}
/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: skyblue;
    color: #fff;
    padding: 10px 20px;
    bottom: 0px;
    
}


.footer-left {
    flex: 1;
}

.footer-links {
    flex: 1;
    text-align: right;
}

.social-link {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.footer-links img{
    width: 30px;
    display: inline-block;
}

.footer-links a:hover {
    color: #ddd;
}



